div #div-deliv{
  display: none;
}

div #pick{
  display: none;
}

#top{
  width: 100%;
  background-color: #7edbd4;
  height: 400px;
}

body{
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

hr{
  border: black solid 3px;
  width: 50%;
}

div #header{
  background-color: white;
  padding: 45px;
  text-align: center;
  height: 350;
  margin-top: 25px;
  overflow: auto;
}

#title{
   font-family: 'Bungee Shade', cursive;
   font-size: 80px;
}

h1{
  font-family: 'Bungee Shade', cursive;
}

#form-jumbo{
  background-color: white;
  padding: 30px;
}

#form{
  margin: 30px;
}



div .card{
  display: none;
  margin: 70px;
  position: relative;
  height: 300px;
}

.info{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
